---
regenerate: true
permalink: /index.html
title: Godot 4.6
---

{% assign release_version_number = "4.6" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godot 4.6 release</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/releases/{{release_version_number}}.css">
</head>
<body>


    <section class="hero">
        <div id="three-container" style="z-index: -1; position: absolute; width: 100%; height: 100%;">
            <canvas id="three-canvas" style="position: absolute; width: 100%; height: 100%;"></canvas>
        </div>

        <div class="content">
            <h1>Godot 4.6 release</h1>
            <h2>Beyond stability: a time for polish, <br> quality of life, and performance</h2>
            <a href="/download/" class="btn btn-xl mb-l">Download Godot {{release_version_number}}</a>
        </div>
    </section>

    <div class="preamble">
        <p>
            Look forward to plenty of quality of life improvements hidden within this release. Faster load speeds, reduced stutter, streamlined processes — spotting all the optimizations that have been applied in the background will take some time. On top of that, long-awaited comfort features like embedded game windows and interactive in-game editing will feel more in line with other software on the market, making transitioning between them an even smoother experience. The editor overhaul alone takes up a big chunk of this release, after all.
        </p>
    </div>

    <section id="section-highlights" class="section-header">
        <h3 class="title">Highlights</h3>
        <img src="{{ site.baseurl }}/storage/releases/4.6/images/highlights_icon.webp" alt="">
    </section>
    <main class="flex flex-col items-center" style="position: relative;">
        <div class="page-nav">
            <ul>
                <li><a href="#section-highlights">Highlights</a></li>
                <li><a href="#section-general">General</a></li>
                <li><a href="#section-2d">2D</a></li>
                <li><a href="#section-3d">3D</a></li>
                <li><a href="#section-editor">Editor</a></li>
                <li><a href="#section-system">System</a></li>
                <li><a href="#section-xr">XR</a></li>
            </ul>
        </div>

        <section class="section-body">
            {% include_relative _components/card.html name="new_theme" size="large" %}
            <div class="sub-grid">
                {% include_relative _components/card.html name="jolt_default" order="reverse" %}
                {% include_relative _components/card.html name="dock_system" %}
            </div>
            {% include_relative _components/card.html name="new_ik" size="large"%}
            {% include_relative _components/card.html name="new_ssr" size="medium"%}
        </section>

        <section class="section-header">
            <h3 class="title">General</h3>
        </section>
    </main>
    <script src="{{ site.baseurl }}/assets/js/releases/banner.js" type="module"></script>
    <script src="{{ site.baseurl }}/assets/js/releases/video_player.js" defer></script>
</body>
</html>