@import "./reset.css";
@import "./gdquest.css";

:root {
  --main-text-color: #FBFBFF;
  --main-bg-color: #151515;
  --card-bg-color: #1D1D1D;
  --accent-color: #1684D4;
  --accent-color-hover: #41A6F0;
  --blank-color: #282828;
  --xxs: 0.2em;
  --xs: 0.4em;
  --s: 0.6em;
  --m: 1em;
  --l: 1.6em;
  --xl: 2.6em;
  --xxl: 4.2em;
}

@font-face {
    font-family: "SplineSans";
    src: url("../../fonts/SplineSans-VariableFont_wght.ttf");
    font-weight: 100 1000;
    font-display: swap;
}

html {
    height: 100%;
    font-weight: 400;
}

body {
  margin: 0;
  font-family: SplineSans;
  min-height: 100%;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 0.8em;
}

.btn{
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-weight: 600;
  border-radius: 0.8em;
  text-decoration: none;
  display: inline-block;
  &.btn-xl{
    padding: 0.8em 1.0em;
    font-size: 1.2em;
  }
  &:hover{
    background-color: var(--accent-color-hover);
  }
}

.text-2xl{
  font-size: 1.4em;
}

.text-3xl{
  font-size: 2em;
}

.media-block{
  position: relative;
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  background-color: var(--blank-color);
  .author{
    position: absolute;
    font-size: 0.8em;
    font-weight: 600;
    right: 0.0;
    bottom: 0.0;
    border-radius: 0.4em 0 0 0.0;
    padding: 0.6em 0.4em;
    background-color: rgba(0,0,0,0.8);
    color: var(--main-text-color);
    text-decoration: none;
  }
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-tag{
    position: absolute;
    font-size: 0.7em;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0.6em;
    margin: 1em;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    line-height: 0;
    .icon{
      margin-right: 0.2em;
      width: 1.4em;
      height: 1.4em;
      fill: var(--main-text-color)
    }
  }
}

.card{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1em;
  background-color: var(--card-bg-color);
  .content{
    padding: 2.0em 2.2em;
    .note{
      font-size: 0.8em;
      font-style: italic;
    }
  }
  .title{
    font-size: 1.6em;
    margin-bottom: var(--xss);
    font-weight: 700;
  }
  .subtitle{
    font-size: 1.2em;
    margin-bottom: var(--s);
    font-weight: 600;
    opacity: 70%;
  }
  .body{
    font-size: 1.2em;
    margin-bottom: var(--m);
    opacity: 80%;
    p{
      margin-bottom: var(--s);
    }
    a{
      color: var(--main-text-color);
      text-decoration: none;
      font-weight: 600;
      &:hover{
        border-color: var(--main-text-color);
        border-bottom: solid;
      }
    }
    ul{
      padding-left: 1.4em;
    }
    li{
    }
  }
  .link-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    a{
      color: var(--main-text-color);
      text-decoration: none;
      font-weight: 500;
      font-size: 0.9em;
      opacity: 80%;
      &:not(:last-child):after{
        margin-right: 0.2em;
        content: ", ";
      }
    }
    svg{
      width: 1.2em;
      margin-right: 0.2em;
      fill: var(--accent-color);
    }
  }
  &.medium{
    .media-block{
      flex:1;
    }
    .content{
      flex:1;
      max-width: 60ch;
    }
  }
}


.gap-xxs{ gap: var(--xxs);}
.gap-xs{ gap: var(--xs);}
.gap-s{ gap: var(--s);}
.gap-m{ gap: var(--m);}
.gap-l{ gap: var(--l);}
.gap-xl{ gap: var(--xl);}
.gap-xxl{ gap: var(--xll);}

.mb-xxs{ margin-bottom: var(--xxs);}
.mb-xs{ margin-bottom: var(--xs);}
.mb-s{ margin-bottom: var(--s);}
.mb-m{ margin-bottom: var(--m);}
.mb-l{ margin-bottom: var(--l);}
.mb-xl{ margin-bottom: var(--xl);}
.mb-xxl{ margin-bottom: var(--xll);}


.flex{display: flex;}
.flex-col{flex-direction: column;}
.flex-row{flex-direction: row;}
.items-center{align-items: center;}
.flex-wrap{flex-wrap: wrap;}
.hidden{display: none;}


.container{
  max-width: 1200px;
  margin: 0em 1em;
}

.w-full{
  width: 100%;
}

.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 80vh;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }
  h1{
    font-size: 1.2em;
    margin-bottom: var(--s);
  }
  h2{
    font-size: 1.4em;
    margin-bottom: var(--l);
    font-weight: 600;
    text-align: center;
  }
  .btn-xl{font-size: 0.8em;}
}

.preamble{
  margin-top: 4em;
  margin-bottom: 6em;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  p{
    max-width: 70ch;
  }
}

.section-header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg-color);
  margin-bottom: var(--xl);
  padding: var(--xxl) 2em;
  width: 100%;
  .title{
    position: relative;
    font-size: 1.6em;
  }
  p{
    opacity: 80%;
    font-size: 1.0em;
    margin-top: var(--m);
    max-width: 65ch;
    text-align: justify;
  }
  img{
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    height: 150%;
    width: auto;
  }
}

.section-body{
  max-width: 1200px;
  margin: 0em 1em;
  width: full;
  display: flex;
  flex-direction: column;
  gap: var(--l);
  margin-bottom: 4em;
  .sub-grid{
    display: flex;
    flex-direction: column;
    gap: var(--m);
  }
  .sub-section{
    margin-top: 1.6em;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 600;
    opacity: 60%;
    align-self: center
  }
}


.page-nav {
  display: none;
  position: absolute;
  height: 100%;
  left:2em;
  z-index: 10;
  ul{
    background-color: var(--blank-color);
    position: sticky;
    top: 2em;
    list-style: none;
    margin: 0;
    padding: 0.6em 0.8em;
    border-radius: 0.4em;
  }
  li{
    margin-bottom: var(--xs);
    a{
      color: var(--main-text-color);
      font-weight: 500;
      text-decoration: none;
    }
    &:not(:first-child) a{
      opacity: 60%;
    }
    &:hover a{
      opacity: 100%;
    }
  }
}

.quote{
  display: flex;
  flex-direction: column;
  max-width: 70ch;
  font-size: 1.0em;
  align-self: center;
  .text p:first-child:before{
    font-size: 1.2em;
    opacity: 60%;
    content: "“";
  }
  .text p:last-child::after{
    font-size: 1.2em;
    opacity: 60%;
    content: "”";
  }
  a{
    color: var(--main-text-color);
    text-decoration: none;
  }
  .text{
    margin-bottom: 1em;
  }
  .author{
    align-self: end;
    .role{
      opacity: 60%;
    }
  }
}

.contributors-wall{
    width: 100%;
    margin-bottom: var(--xxl);
    text-align: center;
  a {
    font-size: 1.2em;
    padding-right: 0.4em;
    text-decoration: none;
    font-weight: 500;
    opacity: 80%;
    color: var(--main-text-color);
    &:hover{
      opacity: 100%;
    }
  }
}

@media (min-width: 1400px) {
  .page-nav{
    display: block;
  }
}

@media (min-width: 620px) {
  body{
    font-size: 1.0em;
  }
  .hero{
    h1{font-size: 2.0em; text-transform: uppercase;}
    h2{font-size: 2.6em;}
    .btn-xl{font-size: 1.2em;}
  }
  .preamble{
    font-size: 1.4em;
  }
  .section-body{
    .sub-grid{
      flex-direction: row;
    }
  }
  .card{
    &.large{
      .body{
        columns: 2;
      }
    }
    &.reverse{
      flex-direction: column-reverse;
    }
    &.medium{
      flex-direction: row;
        &.reverse{
          flex-direction: row-reverse;
        }
    }
  }
}
