@import "./reset.css";
@import "./gdquest.css";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-text-color: #FBFBFF;
  --main-bg-color: #25282B;
  --card-bg-color: #1D1D1D;
  --accent-color: #1684D4;
  --accent-color-hover: #41A6F0;
  --blank-color: #282828;
  --color-godot: #478cbf;
  --color-godot-but-a-little-brighter: #56abe9;
  --color-godot-but-even-brighter: #5fbbff;
  --color-godot-but-darker: #7998af;
  --color-godot-but-desaturated: #a9d7f9;
  --font-family-titles: 'Montserrat', Avenir, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --font-family-body: 'Cabin', 'Arial', 'Helvetica', sans-serif;
  --font-family-title-alt: 'Roboto Condensed', 'Roboto', 'Arial', sans-serif;
  --xxs: 0.2em;
  --xs: 0.4em;
  --s: 0.6em;
  --m: 1em;
  --l: 1.6em;
  --xl: 2.6em;
  --xxl: 4.2em;
}


html {
    height: 100%;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  min-height: 100%;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-titles);
}

.btn{
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family-titles);
  transition: background-color 0.2s ease-in-out;
  &.btn-xl{
    padding: 0.8em 1.0em;
    font-size: 1.2em;
  }
  &:hover{
    background-color: var(--accent-color-hover);
  }
}

.text-2xl{
  font-size: 1.4em;
}

.text-3xl{
  font-size: 2em;
}

.media-block{
  position: relative;
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  background-color: var(--blank-color);
  overflow: hidden;
  .author{
    position: absolute;
    font-size: 0.8em;
    font-weight: 600;
    right: 0.0;
    bottom: 0.0;
    border-radius: 0.4em 0 0 0.0;
    padding: 0.6em 0.4em;
    background-color: rgba(0,0,0,0.8);
    color: var(--main-text-color);
    text-decoration: none;
  }
  & > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-tag{
    position: absolute;
    font-size: 0.7em;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0.6em;
    margin: 1em;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    line-height: 0;
    .icon{
      margin-right: 0.2em;
      width: 1.4em;
      height: 1.4em;
      fill: var(--main-text-color)
    }
  }
  .media-compare{
    position: relative;
    width: 100%;
    height: 100%;
    img{
      user-select: none;
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .before{
      position: absolute;
      width: 100%;
      height: 100%;

    }
    .slider{
      user-select: none;
      pointer-events: none;
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: var(--main-text-color);
      transform: translate(-50%, 0%);

      svg{
        position: absolute;
        border-radius: 50%;
        padding: 0.35em;
        width: 2em;
        height: 2em;
        stroke: var(--main-bg-color);
        background-color: var(--main-text-color);
        transform: translate(-50%, -50%);
        top:50%;
        left:50%
      }
    }
    .before-text{
      user-select: none;
      pointer-events: none;
      position: absolute;
      font-size: 1.2em;
      font-weight: 600;
      top: 0;
      left: 0;
      padding-top: 0.6em;
      padding-left: 0.8em;
    }
    .after-text{
      user-select: none;
      pointer-events: none;
      position: absolute;
      font-size: 1.2em;
      font-weight: 600;
      top: 0;
      right: 0;
      padding-top: 0.6em;
      padding-right: 0.8em;
    }
    &.transition{
      .before{
        transition: all;
        transition-duration: 0.2s;
      }
      .slider{
        transition: all;
        transition-duration: 0.2s;
      }
    }
  }
}

.card{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1em;
  background-color: var(--card-bg-color);
  .content{
    padding: 1.8em 0.9em;
    .note{
      font-size: 0.8em;
      font-style: italic;
    }
  }
  .title{
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 104%;
  }
  .subtitle{
    font-size: 1.2rem;
    margin-bottom: var(--s);
    font-weight: 600;
    color: var(--color-godot-but-a-little-brighter);
  }
  .body{
    font-size: 1.3125em;
    margin-bottom: 2.2rem;
    opacity: 80%;
    p{
      margin-bottom: var(--s);
    }
    a{
      color: var(--main-text-color);
      text-decoration: underline;
      font-weight: 600;
      &:hover{
        border-color: var(--main-text-color);
        border-bottom: solid;
      }
    }
    ul{
      padding-left: 1.4em;
    }
    li{
    }
  }
  .link-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    a, span{
      color: #9b9b9d;
      font-weight: 500;
      font-size: 1.2rem;
    }
    a{
      color: var(--color-godot-but-darker);
      opacity: 1;
      text-underline-offset: 0.2rem;
      &:not(:last-child):after{
        margin-right: 0.2em;
        content: ", ";
      }
    }
    svg{
      width: 1.2em;
      margin-right: 0.2em;
      fill: var(--accent-color);
    }
  }
  &.medium{
    .media-block{
      flex:1;
    }
    .content{
      flex:1;
    }
  }
}


.gap-xxs{ gap: var(--xxs);}
.gap-xs{ gap: var(--xs);}
.gap-s{ gap: var(--s);}
.gap-m{ gap: var(--m);}
.gap-l{ gap: var(--l);}
.gap-xl{ gap: var(--xl);}
.gap-xxl{ gap: var(--xll);}

.mb-xxs{ margin-bottom: var(--xxs);}
.mb-xs{ margin-bottom: var(--xs);}
.mb-s{ margin-bottom: var(--s);}
.mb-m{ margin-bottom: var(--m);}
.mb-l{ margin-bottom: var(--l);}
.mb-xl{ margin-bottom: var(--xl);}
.mb-xxl{ margin-bottom: var(--xll);}


.flex{display: flex;}
.flex-col{flex-direction: column;}
.flex-row{flex-direction: row;}
.items-center{align-items: center;}
.flex-wrap{flex-wrap: wrap;}
.hidden{display: none;}


.container{
  max-width: 1200px;
  margin: 0em 1em;
}

.w-full{
  width: 100%;
}

.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 80vh;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }
  h1{
    font-size: 1.8rem;
    margin-bottom: var(--s);
    font-weight: 900;
  }
  h2{
    font-size: 1.4em;
    margin-bottom: var(--l);
    font-weight: 800;
    text-align: center;
    color: var(--color-godot-but-desaturated);
  }
}

.preamble{
  margin-top: 4em;
  margin-bottom: 6em;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  p{
    max-width: 70ch;
  }
}

.section-header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-godot-but-a-little-brighter);
  margin-bottom: var(--xl);
  padding: var(--xxl) 2em;
  width: 100%;
  .title{
    position: relative;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  p{
    opacity: 80%;
    font-size: 1.5rem;
    margin-top: var(--m);
    max-width: 65ch;
    text-align: center;
  }
  img{
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    height: 150%;
    width: auto;
  }
}

.section-body{
  max-width: min(100%, 1200px);
  margin: 0em 1.5em;
  width: full;
  display: flex;
  flex-direction: column;
  gap: var(--l);
  margin-bottom: 4em;
  .sub-grid{
    display: flex;
    flex-direction: column;
    gap: var(--m);
  }
  .sub-section{
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    font-size: 3.1rem;
    font-weight: 200;
    align-self: center;
    color: var(--color-godot-but-a-little-brighter);
    font-family: var(--font-family-title-alt);
    text-transform: capitalize;
    hyphens: auto;
  }
}


.page-nav {
  display: none;
  position: absolute;
  height: 100%;
  left:2em;
  z-index: 10;
  ul{
    background-color: var(--card-bg-color);
    position: sticky;
    top: 2em;
    list-style: none;
    margin: 0;
    padding: 1rem 1rem 1rem 0.8rem;
    border-radius: 0.4em;
    font-size: 1.3rem;
    display: grid;
    gap: 0.7rem;
    scroll-target-group: auto;
    overflow: hidden;
  }
  li{
    margin-bottom: 0;
  }
  a{
    color: var(--main-text-color);
    font-weight: 500;
    text-decoration: none;
    opacity: 60%;
    position: relative;
    display: block;
    transition: all 0.2s ease-out;
    &::before{
      --size: 0.5rem;
      content: " ";
      position: absolute;
      background-color: var(--accent-color);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      display: block;
      top: 50%;
      transform: translate(0, -50%);
      left: -1rem;
      transition: opacity 0.3s ease-in 0.1s;
      opacity: 0%;
    }
    &:hover{
      opacity: 100%;
      transition: all 0.3s ease-in;
    }
  }
}

@supports(scroll-target-group: auto) {
  .page-nav a:target-current{
    opacity: 100%;
    transform: translateX(0.4em);
    &:before{
      opacity: 100%;
      transform: translate(0, -50%);
    }
  }
}

.quote{
  display: flex;
  flex-direction: column;
  max-width: 70ch;
  font-size: 1.0em;
  align-self: center;
  color: var(--color-godot-but-desaturated);
  font-size: 1.2rem;
  .text p:first-child:before{
    font-size: 1.2em;
    opacity: 60%;
    content: "“";
  }
  .text p:last-child::after{
    font-size: 1.2em;
    opacity: 60%;
    content: "”";
  }
  a{
    color: var(--color-godot-but-desaturated);
    text-decoration: none;
  }
  .text{
    margin-bottom: 1em;
  }
  .author{
    align-self: end;
    .role{
      opacity: 60%;
    }
  }
}

.contributors-wall{
    width: 100%;
    margin-bottom: var(--xxl);
    text-align: center;
  a {
    padding: 0 0.2em;
    text-decoration: none;
    font-weight: 400;
    opacity: 80%;
    color: var(--main-text-color);
    text-transform: capitalize;
    &:hover{
      opacity: 100%;
    }
    &.scale-1{font-size: 0.8em;}
    &.scale-2{font-size: 1.0em;}
    &.scale-3{font-size: 1.2em;}
    &.scale-4{font-size: 1.4em;}
    &.scale-5{font-size: 1.6em;}
  }
}

@media (min-width: 1400px) {
  .page-nav{
    display: block;
  }
}

@media (min-width: 620px) {
  body{
    font-size: 1.0em;
  }
  .hero{
    h1{font-size: 5rem; text-transform: uppercase;}
    h2{font-size: 2.6em;}
    .btn-xl{font-size: 1.7em;}
  }
  .preamble{
    font-size: 1.4em;
  }
  .section-body{
    margin: 0em 1em;
    .sub-grid{
      flex-direction: row;
    }
    .sub-section{
      font-size: 5.1rem;
    }
  }
  .card{
    .body{
      padding: 2.0em 2.2em;
    }
    &.large{
      .body{
        columns: 2;
      }
    }
    &.reverse{
      flex-direction: column-reverse;
    }
    &.medium{
      flex-direction: row;
        .content{
          max-width: 60ch;
        }
        &.reverse{
          flex-direction: row-reverse;
        }
    }
    .title{
      font-size: 2.7rem;
    }
    .subtitle{
      font-size: 1.8rem;
    }
  }
}
