.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 50vh;
  .content{
    position: absolute;
    top: 15%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 10%;
    padding: 1.2em;
    width: 100%;
  }
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h1{
    font-size: 1.6em;
    margin-bottom: var(--xs);
    font-weight: 600;
    }
  h2{
    font-size: 1.4em;
    margin-bottom: var(--l);
  }
}