.section-header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(25deg,var(--main-bg-color) 0%, var(--card-bg-color) 100%);
  margin-bottom: 4.0em;
  padding: 3.8em 2em;
  width: 100%;
  font-size: 1.2em;
  .title{
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }
  p{
    opacity: 80%;
    font-size: 1.0em;
    margin-top: var(--m);
    max-width: 65ch;
    text-align: center;
  }
}

.section-body{
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--l);
  margin: 0em 1.5em;
  margin-bottom: 4em;
  .sub-grid{
    display: flex;
    flex-direction: column;
    gap: var(--m);
  }
  .sub-section:first-child{
    margin-top: 0;
  }
  .sub-section{
    margin-top: 2.2em;
    margin-bottom: 1.4em;
    font-size: 1.8em;
    align-self: center;
    color: var(--color-godot-but-a-little-brighter);
    text-transform: capitalize;
    hyphens: auto;
  }
}
